<h1>Rock, Paper, Scissors Game!</h1>

<p>Choose your move:</p>
<p>
<%= link_to "Rock", "/rock_paper_scissor/1" %> | 
<%= link_to "Paper", "/rock_paper_scissor/2" %> | 
<%= link_to "Scissors", "/rock_paper_scissor/3" %>
</p>

<%= image_tag "/cat.png" %>